<!--The content below is only a placeholder and can be replaced.-->
<app-nav-top (click)="drawer.toggle()"></app-nav-top>

<mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <p>sidenav</p>
    <div>
        <a routerLink="/account/profile">
        <img class="user-avatar" src="/assets/user-avatar.svg">
        </a>
      </div>
   
  </mat-drawer>

  <app-login></app-login>


</mat-drawer-container>

<router-outlet></router-outlet>
